.input-card {
  background-color: #e1f4f3;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    margin-right: 5px;
  }

  input,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }
}
